
.navbar-nav .nav-link:hover {
    border-bottom: 2px solid #7dad52;
    color: #7dad52;
    font-weight: bold;
  }

  .navbar-nav .nav-link{
    text-transform: uppercase;
    color: white;
  }

  .contact{
    border: 2px solid white;
  }

  .contact:hover{
    border: 2px solid #7dad52!important;
    font-weight: normal!important;
    background-color: #7dad52!important;
    color: white!important;
  }

.scrolled {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}